<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Work+Sans">
    <style>
      body {
        font-family: 'Work Sans', sans-serif;
      }
      h1 {
        color:red;
        text-align: center;
      }
      .return {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Oops! Something went wrong.</h1>
    <div class="return">
      <button class="goback" onclick="window.location.href = '/'"> Wanna go back?</button>
    </div>
</html>